/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{
  background-color: #E4E9E2;
}

.story_box{
  padding:0px;
  border:1px solid;
  border-color:lightgray;
  border-radius:10px;
  margin:5px;
}

.follow-box{
  padding:5px;
  border:1px solid;
  border-color:lightgray;
  border-radius:10px;
  margin:5px;
}

.round{
  border-radius:10px;
}

.full_width{
  width:100%;
}

.bottom_round{
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}

.top_round{
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}

a{
  color: black;
}
.story_link:hover{
  text-decoration: none;
  background-color: lightgrey;
}

.story_title{
  padding:5px;
  border:none;
  margin:0px;
  border-bottom:1px solid;
  border-bottom-color: lightgrey;
}

.story_content{
  padding:5px;
  border:none;
  margin:0px;
}

.story_bottom{
  padding:5px;
  border:none;
  margin:0px;
  background-color: #E4E9E2;
}

.btn-primary{
  background-color: #94B2B4;
}

.btn-primary:hover{
  background-color: #57495A;
}

.panel-heading{
  background-color: #FFFFFF !important;
  border-bottom-color: #E4E9E2 !important;
  color:black !important;
}

.panel{
  border-color: #152340;
}

.p-zero{
  padding:0px;
  margin:0px;
}

.story-list-title{
  padding-left: 0px;
  padding-top:8px;
  padding-bottom:8px;
  margin:0px;
  font-weight: bold;
}

.story-list-content{
  padding-left: 0px;
  padding-top:8px;
  padding-bottom:8px;
  margin:0px;
}

.story-audio{
  padding-left: 0px;
  padding-top:8px;
  padding-bottom:8px;
  margin:0px;
  font-weight: bold;
  text-align: center;
}

.page{
  text-align: center;
}

.story-feed-lg{
  height:700px;
  padding: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.story-feed-sm{
  height:460px;
  padding: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}
